* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  color: white;

  background: linear-gradient(
    -45deg,
    #120000,
    #3b0505,
    #7f1d1d,
    #f59e0b,
    #120000
  );
  background-size: 400% 400%;
  animation: fundoAnimado 40s ease infinite;
}

.pagina {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  position: relative;
  width: 390px;
  padding: 35px 25px;
  text-align: center;
  border-radius: 28px;
  overflow: hidden;
  z-index: 1;
}
.card video {
  width: 100%;
  border-radius: 30px;
}
.molde-video {
  position: relative;
  width: 80%;
  margin: 0 auto 20px;
  z-index: 1;
}
.molde-video::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #facc15,
    #ffffff,
    #f97316,
    #ff0000
  );
  background-size: 400%;
  border-radius: 32px;
  animation: rgbBorda 15s linear infinite;
  filter: blur(4px);
  z-index: -1;
}

.card::before {
  content: "";
  position: absolute;
  inset: -6px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #facc15,
    #ffffff,
    #f97316,
    #ff0000
  );
  background-size: 400%;
  border-radius: 32px;
  animation: rgbBorda 10s linear infinite;
  filter: blur(13px);
  z-index: -2;
}

.card::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: rgba(35, 7, 7, 0.94);
  border-radius: 24px;
  z-index: -1;
  backdrop-filter: blur(14px);
}

h1 {
  font-size: 30px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: #facc15;
  text-shadow:
    0 0 10px rgba(250, 204, 21, 0.45),
    0 0 18px rgba(220, 38, 38, 0.4);
}

p {
  font-size: 15px;
  line-height: 1.6;
  color: #fee2e2;
  margin-bottom: 22px;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.tags span {
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 999px;
  background: rgba(250, 204, 21, 0.13);
  border: 1px solid rgba(250, 204, 21, 0.35);
  backdrop-filter: blur(8px);
}

.botao {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(90deg, #dc2626, #f59e0b);
  color: white;
  padding: 14px 34px;
  border-radius: 14px;
  font-weight: bold;
  box-shadow:
    0 0 20px rgba(220, 38, 38, 0.55),
    0 0 30px rgba(245, 158, 11, 0.45);
  transition: 0.3s;
}

.botao:hover {
  transform: scale(1.06);
  box-shadow:
    0 0 28px rgba(220, 38, 38, 0.9),
    0 0 42px rgba(245, 158, 11, 0.75);
}

@keyframes rgbBorda {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@keyframes fundoAnimado {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
